@import url(https://fonts.googleapis.com/css?family=Raleway:100,600);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);
body {
    margin: 60px auto;
    width: 50em;
    background: linear-gradient(to bottom, #778899, #97aec5);
}
nav ul, footer ul {
    font-family: 'Raleway', Sans-Serif;
    padding: 0px;
    list-style: none;
    font-weight: 100
    display: inline;
    text-align: center;
}
nav ul li, footer ul li {
    font-family:'Raleway', Arial, Sans-Serif;
    font-weight: 100;
    display: inline;
    margin-right: 20px;
    list-style: none;
    text-align: center;
}
a {
    text-decoration: none;
    color: #ECD5B3;
    font-family:'Raleway', Arial, Sans-Serif;
    font-weight:100;
}
a:hover {
   animation-name: fadewhite;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}
@keyframes fadewhite {
    from {
        color: #ECD5B3;
    }
    to {
        color: #ffffff;
    }
}
a.active {
    font-weight:600;
    font-family: 'Raleway', Sans-serif;
    color: #ECD5B3;
    text-decoration: none;
    border: none;
    font-size: 1em;
}
h1 {
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight:100;    
    animation-duration: 2s;
    animation-name: fadein;
}
@keyframes fadein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}
h2 {
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #ffffff;
    font-weight:100;
    animation-name: fadein;
    animation-duration: 2s;
}
hr.style {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0,0,0,0), #ffffff, rgba(0,0,0,0));
   animation-name: fadein;
   animation-duration: 2s;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #ffffff;
    font-family: 'Droid Serif', sans-serif;
    text-align: center;
}
p.copyright {
    font-size: 1em;
    color: #ffffff;
    font-family: 'Raleway', Sans-Serif;
    text-align: center;
    animation-name: fadein;
    animation-duration: 1s;
}
footer {
    font-size: 1em;
    font-family: 'Raleway', Sans-Serif;
    font-weight:100;
    list-style: none;
    display: inline;
    text-align: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 2px;
    border: 1px solid #ffffff;
    animation-duration: 1s;
    animation-name: fadein;
}
