body {
    margin: 60px auto;
    width: 70%;
    background-color: #ffffff;
    background-image: url(http://www.wallpaperup.com/uploads/wallpapers/2014/02/20/262330/ee0a0a63d80893f608a3cb72ca1a27a3.jpg)
    background-repeat: repeat-x;
    background-position: center;
}
nav ul, footer ul {
    font-family:"Helvetica", Arial, Sans-Serif;
    padding: 0px;
    list-style: none;
    font-weight: bold
    display: inline;
}
nav ul li, footer ul li {
    font-family:"Helvetica", Arial, Sans-Serif;
    font-weight: bold;
    display: inline;
    margin-right: 20px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #990000;
    font-family:"Helvetica", Arial, Sans-Serif;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    font-family:'Playfair Display', serif;
    font-style: italic;
}
h2 {
    font-size: 3em;
    font-family:'Playfair Display', serif;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Playfair Display', serif;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family:"Helvetica", Arial, Sans-Serif;
    list-style: none;
    display: inline;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
